.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  color: #e8eaed;
}

.app__title {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 80px;
  margin: 20px 0;
  user-select:none;
}

.app__input {
  border: none;
  background-color: #303134;
  color: #e8eaed;
  padding: 20px 30px;
  margin-bottom: 40px;
  width: 60%;
  font-family: "Quicksand";
  font-size: 20px;
  border-radius: 50px;
  transition: 200ms;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 33px 20px rgba(0,0,0,0.3);
}

.app__input:focus {
  outline: none;
}

.app__input:hover {
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);
  transform: scaleX(1.05);
}

.app__items {
  width: 90%;
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
